<% if !current_user.blank?%>

<p>Witaj <%= current_user.name %> <%= link_to "Wyloguj się", signout_path, :class => "signout" %>
</p><%end%>	

<h1>Zdjęcia</h1>

<% if !current_user.blank? %>
<%= link_to 'Dodaj nowe zdjęcie', new_photo_path %></p>
<%end%>
<% if current_user.blank? %>
 Aby dodać nowe zdjęcie <%= link_to "zarejestruj się" , signup_path %> lub <%= link_to "zaloguj" , signin_path %> 
 <%end%>
<ul>
<%= paginate @photos %> 
<br>
<% @photos.each do |photo| %>

    <li>
   <%= link_to image_tag(photo.image), photo %>
 </li>

<% end %>
</ul>
<p id="uzytkownicy">
<div class="uzytkownicy"><ul><li>zdjęcia naszych użytkowników:<ul>
<% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
  </ul>
  </li>
  </ul></div>
 </p>

<% session['return-to'] = request.fullpath %>



